<div class="container">
  <section class="aip-border-bottom py-4">
    <h1>Welcome to AI Playground</h1>
    <p>Here you can explore interactive demos of applications using artificial intelligence.</p>
  </section>
  <section class="py-4">
    <h2>Demos</h2>
    <div class="row">
      <a routerLink="sketch" class="aip-demo-link col-12 col-sm-6 col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/draw-sketch-preview.gif" alt="sketch classifier preview">
          <div class="card-body">
            <h3 class="card-title">Sketch Classifier</h3>
            <p class="card-text">Draw something in the defined area and let a convolutional neural network guess what you did draw.</p>
          </div>
        </div>
      </a>
      <a routerLink="roadmap" class="aip-demo-link col-12 col-sm-6 col-md-4">
        <div class="aip-roadmap-card card">
          <div class="card-body">
            <h3 class="card-title">More coming soon!</h3>
            <p class="card-text">Draw something in the defined area and let a convolutional neural network guess what you did draw.</p>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
