@import "../../../../_bootstrap-config";

:host {
  display: inline-block;
}

div {
  button + button {
    margin-left: 0.5rem;
  }
}

canvas {
  border: 1px solid $body-color;
  user-select: none;
  &:hover {
    cursor: crosshair;
  }
}

.card {
  position: relative;

  ngb-alert {
    display: block;
    width: 320px;
  }

  .aip-model-load-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray-100;

    & > div {
      @include center-absolute;
    }
  }
}
