<div class="card">
  <div class="card-body">
    <div><h2>Draw Something!</h2>
      <canvas #drawCanvas [width]="10 * targetSize" [height]="10 * targetSize"
              (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseleave)="stopDrawing()"
              (mouseup)="stopDrawing()"></canvas>
    </div>
    <div>
      <button class="btn btn-secondary" (click)="clearCanvas()">Clear</button>
      <button class="btn btn-light" (click)="modalSvc.open(helpContent)"><i class="fa fa-question"></i></button>
    </div>
  </div>
</div>
<ng-template #helpContent>
  <div class="modal-header">
    <h2>Don't know what to draw?</h2>
  </div>
  <div class="modal-body">
    <div>Currently we can recognize drawings of these objects:</div>
    <ul>
      <li *ngFor="let c of supportedClasses">{{c}}</li>
    </ul>
    <div>We will be adding more object classes in the future.</div>
  </div>
</ng-template>

