@import "../../../../_bootstrap-config";

:host, md-card {
  display: inline-block;
}

div {

  button + button {
    margin-left: 0.5rem;
  }
}

canvas {
  border: 1px solid $body-color;
  user-select: none;
  &:hover {
    cursor: crosshair;
  }
}
