@import "../../../../_bootstrap-config";

:host {
  display: block;
}

.aip-chart-container {
  position: relative;

  .aip-classifier-result {
    @include center-absolute();
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

}

.card {
  position: relative;

  .aip-sketch-wait-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $gray-100;

    div {
      @include center-absolute;
    }
  }

}
