<div class="aip-demo-content-center">
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h2 class="card-title">Ups.. something went wrong</h2>
            <p>Unfortunately we are unable to access the gpu. Without the gpu power the heavy computation for the style
              transfer takes too long.</p>
            <p>You should be able to access this demo with a chrome browser.
              Until now iOS devices are not supported, due to limitation of the use deep learning library.</p>
          </div>
          <div class="col-md-6 text-center">
            <img src="/assets/style-transfer-preview.jpg" alt="style transfer preview">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
