<header #header>
  <button class="btn btn-primary" (click)="isCollapsed = !isCollapsed; $event.stopPropagation();"><i
    class="fa fa-bars"></i></button>
  <a routerLink="/" class="navbar-brand">AI Playground</a>
</header>
<nav class="aip-sidenav" [ngbCollapse]="isCollapsed">
  <div class="list-group">
    <div class="list-group-item list-group-item-light">Demos</div>
    <a class="list-group-item" routerLink="/sketch" routerLinkActive="aip-active">Sketch Classification</a>
  </div>
  <div class="list-group">
    <div class="list-group-item list-group-item-light">Info</div>
    <a class="list-group-item" routerLink="/roadmap" routerLinkActive="aip-active">Roadmap</a>
  </div>
</nav>
<div [style.marginTop]="getHeaderHeight()">
  <router-outlet></router-outlet>
</div>
