<div class="aip-container-center">
  <div class="card">
    <div class="card-body">
      <h2>Roadmap</h2>
      <div class="list-group">
        <div class="list-group-item">
          <h3>Improve Sketch Drawer</h3>
          <ul>
            <li>Add more object classes to recognize</li>
            <li>Add neural network visualisation</li>
            <li>Add layer activation visualization</li>
          </ul>
        </div>
        <div class="list-group-item">
          <h3>Add new demos</h3>
          <ul>
            <li>2D collision avoidance car evolved with genetic algorithm</li>
            <li>Text to image generation</li>
            <li>AI Duett: Playing piano in turns with an AI</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
